.btn {
    color: #ffffff;
}

.btn_change_focus {
    background-color: #00b2df;
}

.btn_change_focus:hover {
    background-color: #037e9c;
}

.btn_release_alarm {
    background-color: #01b901;
}

.btn_release_alarm:hover {
    background-color: #008800;
}

.sideBar {
    width: 300px;
    position: fixed;
    top: 0px;
    left: -330px;
    display: block;
    /*background-color: rgba(204, 204, 204, 0.452);*/
}

.sideBar .sideBar-left-button {
    /*解除定位按鈕*/
    height: 50px;
}

.sideBar-left-button button {
    margin: 10px;
}

.sideBar .sideBar-left {
    width: 300px;
    height: 90%;
    background-color: transparent;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.sideBar .nav-icon:hover {
    cursor: pointer;
}

/*Alarm Dialog*/

.thumbnail {
    display: inline-block;
    background: #ff3333;
    width: 320px;
}

.thumbnail:hover {
    background: gray;
    border: 1px solid white;
    cursor: pointer;
}

.thumbnail td {
    border: none;
}

.thumbnail img {
    background: white;
    height: 100px;
    width: 100px;
}

.thumbnail p {
    font-weight: bold;
    line-height: 7px;
}

/***************/

.btn-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-alarm {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: rgb(207, 2, 2);
    float: right;
    background-color: rgb(196, 195, 195);
    border: 1px solid rgb(196, 195, 195);
    border-radius: 50%;
}

.btn-alarm:hover {
    background-color: rgb(175, 175, 175);
    border: 1px solid rgb(175, 175, 175);
}