.nav-tabs {
    margin-top: 10px;
}


th,
td {
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    padding: 6px;
    text-align: left;
    border: none;
}

label {
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-size: 14px;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 10px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-file-selected {
    display: inline-block;
    cursor: pointer;
    color: #dddddd;
    text-decoration: none;
    font-family: Sans-serif;
    padding: 10px 15px 10px 50px;
}

#table_alarm_setting tr td:first label {
    width: 100px;
}

#table_alarm_mode input {
    border: none;
}

.table-line th {
    border: 1px solid rgb(82, 82, 82);
    background: rgb(121, 120, 120);
    color: white;
    text-align: center;
}

.table-line td {
    border: 1px solid rgb(82, 82, 82);
    background-color: white;
}

#table_week_schedule th:first-child,
#table_week_schedule td:first-child {
    text-align: left;
}

#table_week_schedule .timepicker {
    width: 50px;
}

#table_fence_list td {
    border: 1px solid rgb(146, 154, 160);
}

#table_fence_list td.left {
    padding: 0px;
    width: 47%;
}

#table_fence_list td.midden {
    padding: 0px;
    width: 6%;
}

#table_fence_list td.right {
    padding: 0px;
    width: 47%;
}

.table-line-gray th {
    border: 1px solid rgb(146, 154, 160);
    background: rgb(168, 178, 185);
    color: white;
    text-align: center;
}

.table-line-gray td {
    border: 1px solid rgb(146, 154, 160);
}

.table-line-gray td:nth-child(2),
.table-line-gray td:nth-child(3),
.table-line-gray td:nth-child(4) {
    text-align: center;
}

#dialog_add_time_setting label {
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-size: 16px;
}

.table-noline-inner th,
.table-noline-inner td {
    text-align: center;
    border: none;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-size: 14px;
}

h3 {
    color: rgb(37, 37, 37);
}

.btn {
    margin-left: 20px;
}

.switch-img {
    height: 24px;
    width: 24px;
}

/* 自訂radiobox跟checkbox的樣式 */


input[type=checkbox]:not(old).beauty,
input[type=radio]:not(old).beauty {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

input[type=checkbox]:not(old).beauty+label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    line-height: 24px;
    background: url('../image/checks.png') no-repeat 0 -48px;
}

input[type=checkbox]:not(old).beauty:checked+label {
    background-position: 0 -73px;
}

input[type=radio]:not(old).beauty+label {
    display: inline-block;
    margin-left: -24px;
    padding-left: 28px;
    line-height: 24px;
    background: url('../image/checks.png') no-repeat 0 3px;
}

input[type=radio]:not(old).beauty:checked+label {
    background-position: 0 -22px;
}

.btn-group button {
    color: #000000;
    /*!important;*/
    height: 32px;
    font-size: 12px;
}

.btn-group button:hover,
.btn-group button:focus,
.btn-group button:active {
    color: #000000;
}

.selected {
    background-color: rgb(184, 184, 184);
}

.dropdown {
    display: inline-block;
    font-size: 14px;
    text-align: left;
}

.dropdown button {
    height: 32px;
    font-size: 12px;
}

.dropdown input,
.dropdown label {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: 5px 0px 5px 30px;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.dropdown input:active,
.dropdown input:hover,
.dropdown input:focus,
.dropdown label:hover,
.dropdown label:focus {
    /*color: #333;*/
    background-color: #e6e6e6;
    background-image: none;
    border: none;
}

.btn-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-delete {
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-delete:hover {
    color: rgb(255, 81, 81);
}

.btn-add {
    cursor: pointer;
    color: rgb(0, 98, 209);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-add:hover {
    color: rgb(51, 146, 255);
}

.btn-add-pos {
    cursor: pointer;
    color: rgb(105, 196, 0);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-add-pos:hover {
    color: rgb(147, 192, 96);
}

.btn-submit {
    cursor: pointer;
    color: rgb(0, 172, 29);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-submit:hover {
    color: rgb(113, 184, 125);
}

.btn-edit {
    cursor: pointer;
    color: rgb(0, 172, 135);
    margin: auto;
}

.btn-edit:hover {
    color: rgb(158, 180, 162)
}

.btn-arrow {
    cursor: pointer;
    color: rgb(29, 155, 194);
    margin: 10px;
}

.btn-arrow:hover {
    color: rgb(156, 210, 226);
}

/* Dialog內的tr被選取時變色 */
.changeBgColor {
    background-color: rgba(0, 200, 250, 0.384);
}

#table_time_setting input[type=text],
#table_time_setting input[type=time] {
    width: 100%;
    min-width: 100px;
}

/* Electronic fence dialog */

.cvsBlock {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: transparent;
    display: block;
    height: 612px;
    width: 100%;
    overflow: auto;
    border: 1px rgb(70, 70, 70) solid;
}

.block-list {
    overflow: auto;
    width: 100%;
    height: auto;
    border: 1px solid rgb(70, 70, 70);
}

.block-list-helf {
    height: 200px;
    width: 100%;
}

.add_fence_title {
    /*title*/
    font-size: 16px;
    background: rgb(199, 211, 219);
    /*border: 1px solid rgb(175, 175, 175);*/
    color: rgb(64, 69, 73);
    width: 100%;
    margin: 0px;
    text-align: center;
    margin-bottom: 5px;
}

.block-fence-list {
    overflow: auto;
    width: 100%;
    height: 400px;
    max-height: 400px;
    margin-top: 0px;
}

.fence-list-title {
    text-align: center;
    font-size: 16px;
    background: rgb(168, 178, 185);
    width: 100%;
    margin: 0px;
    padding: 2px;
}

.coordinate {
    background-color: white;
    max-width: 100px;
    border: none;
}

.sidebar-menu {
    margin: 5px 0px;
    position: relative;
    display: block;
}

.sidebar-menu .nav {
    list-style-type: none;
}

.sidebar-menu .nav-li {
    line-height: 38px;
    width: 40px;
    height: 38px;
    position: relative;
    float: left;
    background-color: rgb(109, 109, 109);
    border: 1px solid lightgray;
}

.sidebar-menu .nav-li:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    background-color: #00000000;
    position: relative;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.btn-sidebar {
    width: 40px;
    height: 36px;
    color: white;
    cursor: pointer;
    padding-top: 1px;
    text-align: center;
    font-weight: normal;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.btn-sidebar i {
    font-size: 20px;
}

.btn-sidebar.opened {
    background-color: rgb(49, 147, 251);
    color: rgb(0, 0, 0);
}

.btn-sidebar:hover {
    color: rgb(0, 0, 0);
}

.dropdown-menu li input {
    width: 100%;
    height: auto;
    border: none;
    background-color: white;
}

.dropdown-menu li input:hover {
    background-color: lightgray;
}

#table_remaining_fences tbody tr:hover,
#table_included_fences tbody tr:hover {
    cursor: pointer;
}

.chk-hidden {
    display: none;
}

.table-line td:last-child {
    text-align: center;
}