aside button i {
    vertical-align: middle;
    width: 25px;
    height: auto;
    z-index: 111111;
    font-size: 48px;
    color: black;
}

aside button {
    outline: none;
}

input[type='text'] {
    padding: 0px 5px;
}

.nav-tabs .tab_map_btn {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sidebar-table {
    overflow: auto;
    height: 100%;
    max-width: 310px;
    margin: 10px 10px 0px 0px;
}

.sidebar-table thead {
    /*background-color: rgb(211, 211, 211);*/
    background-color: rgb(160, 160, 160);
}

.sidebar-table thead th {
    color: white;
    /*rgb(47, 95, 201)*/
}

.btn-focus {
    height: 26px;
    width: 40px;
    padding: 0px;
}

.icon-image {
    max-height: 18px;
    max-width: 18px;
    margin: auto;
    background: transparent !important;
}

.page-main {
    position: relative;
}

.page-main>aside {
    padding: 7px 0px 5px 0px;
    border: 3px solid #e4e4e4;
    box-shadow: 0px 0px 4px 2px rgb(123, 123, 123) inset;
    border-radius: 7px;
    background: white;

    width: 340px;
    height: 100%;
    top: 0;
    right: -340px;
    position: fixed;
}

.page-main>aside .main-place {
    margin-top: 10px;
    padding: 10px;
    top: 0px;
    position: fixed;
}

.page-main>aside .main-place #sidebar_right_member {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_alarm {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_search {
    margin: 5px;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.alarm-table {
    max-height: 650px;
}