aside button i {
    vertical-align: middle;
    width: 25px;
    height: auto;
    z-index: 111111;
    font-size: 48px;
    color: gray
}

aside button {
    outline: none;
}

.nav-tabs a,
.tab-pane th,
.tab-pane td {
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.sidebar-table {
    overflow: auto;
    height: 100%;
    max-width: 310px;
    margin: 10px 10px 0px 0px;
}

.sidebar-table thead {
    background-color: rgb(211, 211, 211);
}

.page-main {
    position: relative;
}

.page-main>aside {
    background-color: #fff;
    width: 340px;
    height: 100%;
    top: 0;
    right: -340px;
    position: fixed;
}

.page-main>aside .main-place {
    margin-top: 10px;
    padding: 10px;
    top: 0px;
    position: fixed;
}

.page-main>aside .main-place #sidebar_right_member {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_alarm {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_search {
    margin: 5px;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}