aside button i {
    vertical-align: middle;
    width: 25px;
    height: auto;
    z-index: 111111;
    font-size: 48px;
    color: gray
}

aside button {
    outline: none;
}

input[type='text']{
    padding: 0px 5px;
}

.nav-tabs {
    border-color: rgb(47, 95, 201);
}

.nav-tabs li a {
    padding: 6px 10px;
    background-color: transparent;
    color: white;
}

.nav-tabs li:hover a {
    border-color: rgb(47, 95, 201);
    background-color: transparent;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a {
    border-color: rgb(47, 95, 201);
    background-color: rgb(47, 95, 201);
    color: white;
}

.nav-tabs a,
.tab-pane th,
.tab-pane td {
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.nav-tabs .tab_map_btn {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sidebar-table {
    overflow: auto;
    height: 100%;
    max-width: 310px;
    margin: 10px 10px 0px 0px;
}

.sidebar-table thead {
    /*background-color: rgb(211, 211, 211);*/
    background-color: #082041;
}

.sidebar-table thead th {
    color: white;
    /*rgb(47, 95, 201)*/
}

.btn-focus {
    height: 26px;
    width: 40px;
    padding: 0px;
}

.icon-image {
    max-height: 18px;
    max-width: 18px;
    margin: auto;
    background: transparent !important;
}

.page-main {
    position: relative;
}

.page-main>aside {
    background-color: #132742;
    width: 340px;
    height: 100%;
    top: 0;
    right: -340px;
    position: fixed;
}

.page-main>aside .main-place {
    margin-top: 10px;
    padding: 10px;
    top: 0px;
    position: fixed;
}

.page-main>aside .main-place #sidebar_right_member {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_alarm {
    margin: 5px;
}

.page-main>aside .main-place #sidebar_right_search {
    margin: 5px;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.alarm-table {
    max-height: 650px;
}