.row {
    margin-left: 30px;
}

.dialog {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 4px;
    text-align: left;
    border: 1px solid rgb(47, 95, 201);
    /*#808080;*/
}

/* 自訂thead(表格的開頭)文字大小 */
thead th {
    text-align: left;
    font-size: 12px;
}


/*tr:hover {
    background-color: #f5f5f5;
}*/

/*網頁內的輸入框*/

label,
input {
    display: inline block;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

.tool-bar {
    float: right;
}

/***************/

/**
 * Alarm Dialog裡的Status文字設定
 */
#alarm_dialog_status {
    color: red;
}

#content {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0px 0px 0px 0px;
}

#content.right_open {
    padding-right: 330px;
}

#content.left_open {
    padding-left: 305px;
}

.member_photo {
    float: left;
    max-width: 130px;
    margin-right: 10px;
}

canvas:hover {
    cursor: pointer;
}

canvas:active {
    cursor: move;
}

.transition {
    height: 680px;
    width: 100%;
    background: white;
    display: none;
}

.mouse_cursor_move {
    cursor: move;
}

.top_button_group {
    margin-bottom: 5px;
}

.btn-group button {
    height: 30px;
    font-size: 12px;
}

.dropdown {
    display: inline-block;
    font-size: 14px;
    text-align: left;
}

.dropdown ul {
    z-index: 2;
}

.dropdown button {
    height: 30px;
    font-size: 12px;
}

.dropdown input,
.dropdown label {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    padding: 5px 30px;
    text-decoration: none;
    text-align: left;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-size: 14px;
    font-weight: normal;
}

.dropdown input:active,
.dropdown input:hover,
.dropdown input:focus,
.dropdown label:hover,
.dropdown label:focus {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a {
    padding: 10px 0px 0px 30px !important;
    height: 40px;
    text-decoration: none;
    text-align: left;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
}

.dropdown-submenu a:focus,
.dropdown-submenu a:hover {
    background-color: rgba(0, 0, 0, 0.089) !important;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-file-download {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: block;
    border: 0px;
    padding: 10px 0px 10px 30px;
    text-decoration: none;
    text-align: left;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.btn-group .btn {
    border-radius: 0px;
}

.btn-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-set {
    cursor: pointer;
    background: transparent !important;
    color: rgb(0, 119, 255) !important;
    font-size: 18px !important;
    margin-left: 5px !important;
    padding: 0px !important;
}

.btn-set:hover {
    background: transparent !important;
    color: rgb(90, 158, 236) !important;
}

.btn-icon {
    cursor: pointer;
    color: rgb(0, 119, 255);
    font-size: 18px;
    margin-left: 5px;
}

.btn-icon:hover {
    color: rgb(90, 158, 236);
}

.btn-delete {
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-delete:hover {
    color: rgb(255, 81, 81);
}

.btn-map-tab {
    border-color: rgb(47, 95, 201);
    background-color: transparent;
    color: white;
}

.btn-map-tab:hover {
    border-color: rgb(47, 95, 201);
    background-color: transparent;
    color: white;
}

/*.btn-map-tab:focus,
.btn-map-tab:active {
    outline: none;
}*/

.btn-map-tab.selected,
.btn-map-tab.selected:hover {
    background-color: rgb(47, 95, 201);
    color: white;
}


/**
 *  Dialog內的tr被選取時變色 
 */
.changeBgColor {
    background-color: rgb(187, 234, 250);
}

.coordinate {
    background-color: transparent;
    color: white;
    max-width: 80px;
    border: none;
}

/* icon navbar */
.menu-left ul .alarmlist a,
.menu-left ul .taglist a {
    background: transparent;
}

.menu-left ul .alarmlist:hover a {
    background: rgb(240, 107, 98)
}

.menu-left ul .taglist:hover a {
    background: rgb(219, 157, 43)
}

/* Model */

.modal-body {
    background: #36a4ff63;
    border-radius: 5px;
}

/* Display size */
#canvas_display_size {
    height: 180px;
    width: 100%;
    background: lightgray;
    border: 1px solid lightgray;
}

.noborder-block {
    color: #363636;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-weight: normal;
    font-size: 14px;
}

.noborder-block {
    border: none;
    padding: 0px;
}

.noborder-block th,
.noborder-block td {
    border: none;
}