.container {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.row {
    margin-left: 40px;
}

.nav-tabs {
    margin: 10px 0px 0px 50px;
}

.dialog {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

th,
td {
    padding: 1px;
    text-align: left;
    border: none;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-file-selected {
    display: inline-block;
    cursor: pointer;
    color: #dddddd;
    text-decoration: none;
    font-family: Sans-serif;
    padding: 10px 15px 10px 50px;
}

/* 網頁內的輸入框 */
label,
input {
    display: inline-block;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

input[type="text"] {
    width: 150px;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    font-size: 14px;
}

fieldset {
    padding: 0;
    border: 0;
    margin-top: 10px;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

/******************/
.table-line th,
.table-line td {
    border: 1px solid #808080;
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
}

.table-line th {
    background: lightgray;
}

.table-line input[type="text"] {
    border: none;
}

.btn-add-file {
    background-color: rgb(45, 176, 219);
    border: 1px solid rgb(0, 142, 189);
    width: 140px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.btn-add-file:hover {
    background-color: rgb(0, 142, 189);
}

.custom-file-download {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 3px;
    width: 500px;
    height: 260px;
    color: rgb(63, 62, 62);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

#new_map_block {
    width: 100%;
    height: 200px;
    max-width: 490px;
    max-height: 200px;
    margin-bottom: 10px;
    background-color: rgb(167, 166, 166);
}

.thumbnail {
    position: relative;
    float: left;
    margin: 10px;
    width: 500px;
    height: 260px;
    max-width: 500px;
    max-height: 280px;
    background-color: rgb(106, 165, 199);
    border: 1px solid rgb(73, 112, 134);
}

.thumbnail .image_block {
    width: 490px;
    height: 200px;
    max-width: 490px;
    max-height: 200px;
    background-color: lightgray;
}

.image_block img {
    max-width: 490px;
    max-height: 200px;
}

.thumbnail label {
    font-size: 18px;
    font-weight: normal;
}

.btn-sidebar {
    width: 40px;
    height: 36px;
    background-color: rgb(57, 143, 255);
    color: white;
    text-align: center;
    /*border-radius: 5px;*/
    padding-top: 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.btn-sidebar:hover {
    background-color: rgb(40, 108, 197);
}

.btn-delete {
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 18px;
    margin: 0px 5px 0px 0px;
}

.btn-delete:hover {
    color: rgb(255, 187, 187);
}

.btn-remove {
    cursor: pointer;
    color: rgb(73, 70, 70);
    font-size: 18px;
    margin: 0px 5px 0px 0px;
}

.btn-remove:hover {
    color: rgb(175, 175, 175);
}

.btn-add {
    cursor: pointer;
    color: rgb(0, 119, 255);
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.btn-add:hover {
    color: rgb(155, 202, 255);
}

.btn-add-pos {
    cursor: pointer;
    color: rgb(105, 196, 0);
    font-size: 20px;
}

.btn-add-pos:hover {
    color: rgb(179, 226, 126);
}

.btn-edit {
    cursor: pointer;
    color: rgb(101, 159, 185);
    font-size: 18px;
    margin: 0px 5px 0px 5px;
}

.btn-edit:hover {
    color: rgb(195, 238, 255);
}

.sidebar-menu {
    height: 50px;
    float: right;
    margin-right: 10px;
    position: absolute;
}

.sidebar-menu ul {
    list-style-type: none;
    /*overflow: hidden;*/
}

.sidebar-menu li {
    line-height: 38px;
    float: left;
    width: 40px;
    height: 38px;
    position: relative;
    background-color: rgb(57, 143, 255);
    border: 1px dashed rgb(25, 66, 121);
}

.sidebar-menu li:before {
    background-color: transparent;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    z-index: -1;
}

.btn-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

canvas {
    margin: 0px;
    width: 1px;
    height: 1px;
    position: relative;
    display: inline-block;
}

.cvsBlock {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    height: 460px;
    width: 600px;
    overflow: auto;
    border: 1px gray solid;
}

.block-list {
    overflow: auto;
    max-height: 414px;
    max-width: 340px;
    width: 340px;
    margin: 0px 0px 0px 10px;
}

#myTab {
    margin: 0px 0px 10px 0px;
}

.tab-pane {
    overflow: auto;
    max-height: 340px;
    max-width: 340px;
    width: 340px;
}

.coordinate {
    background-color: white;
    max-width: 100px;
    border: none;
}