body {
    /*background: linear-gradient(180deg, #0077F7 0%, #08132E 100%);
    background: -moz-linear-gradient(180deg, #0077F7 0%, #08132E 100%);
    background: -webkit-linear-gradient(180deg, #0077F7 0%, #08132E 100%);
    background: -o-linear-gradient(180deg, #0077F7 0%, #08132E 100%);*/
    background: #132742;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.container select,
.container select option,
.container option label,
.container option span,
.container input[type=text],
.container input[type=date],
.container input[type=time],
.container input[type=search] {
    background: #132742;
    border: 1px solid lightgray;
}

.row {
    margin-left: 40px;
}

.top_nav {
    padding-top: 5px;
    /*border: 1px solid #0055ff;*/
    background: #000c2570;
    /*background: linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -moz-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -webkit-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -o-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);*/
}

.select-lang {
    margin-top: 5px;
    margin-right: 10px;
    background: #082041;
    color: white;
}

img.logo {
    max-height: 30px;
    max-width: 30px;
    margin: auto;
    background: transparent !important;
}

.btn-user {
    cursor: pointer;
    background: transparent;
    color: rgb(0, 119, 255) !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    padding: 0px !important;
}

.btn-user:hover {
    background: transparent !important;
    color: rgb(90, 158, 236) !important;
}

.content-blocks {
    float: left;
    /*border:5px rgb(119, 119, 119) solid;*/
    padding: 1px;
}

.cvsBlock {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(185, 185, 185);
    overflow: hidden;
    position: relative;
    border: none;
    width: 100%;
}

.canvas-control-bar {
    padding: 0px 5px 0px 5px;
    float: left;
    background: lightgray;
    width: 100%;
    height: 20px;
    max-height: 20px;
    color: black;
}

.canvas-visible-map-name {
    color: rgb(0, 63, 238);
    margin-right: 10px !important;
}

.canvas-control-bar label {
    margin: 0px;
}

canvas {
    position: relative;
}

.canvas-modes img {
    height: 100px;
}

/*@media only screen and (min-width: 769px) {

    桌上型電腦
    .cvsBlock {
        width: 100%;
        height: 330px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {

    平板
    .cvsBlock {
        width: 100%;
        height: 250px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 320px) {

    手機
    .cvsBlock {
        width: 100%;
        height: 500px;
    }
}*/

/*DropDownList*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
 * Copyright (c) 2006 Sam Collett (http://www.texotela.co.uk)
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

/*
 * A time picker for jQuery
 * Based on original timePicker by Sam Collet (http://www.texotela.co.uk)
 * @name     timePicker
 * @version  0.1 
 * @author   Anders Fajerson (http://perifer.se)
 * @example  $("#mytime").timePicker();
 * @example  $("#mytime").timePicker({step:30, startTime:"15:00", endTime:"18:00"}); 
 */

div.time-picker {
    position: absolute;
    height: 200px;
    width: 60px;
    /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #000;
    z-index: 99;
    margin-top: 1.1em;
}

div.time-picker-12hours {
    width: 90px;
    /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li {
    padding: 1px;
    cursor: pointer;
}

div.time-picker li.selected {
    background: #316AC5;
    color: #fff;
}