body {
    /*padding: 5px;*/
    background: #e8e8e8;
    /*box-shadow: 0px 0px 2px 3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 2px 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 2px 3px rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 8px;*/
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

table {
    border-collapse: collapse;
    width: 100%;
}

.dialog {
    display: none;
    /*font-family: 'Microsoft JhengHei', 'sans-serif';*/
}

.container {
    width: auto;
    height: 100%;
    margin-left: 50px;
    min-width: 380px;
}

.dropdown-content {
    box-shadow: 0px 0px 3px 1px rgb(162, 162, 162) !important;
}

.copyright-notice-text {
    text-align: center;
    margin-top: 5px;
    color: lightcyan;
}

/*依照不同的螢幕比例設計*/
/*@media screen and (max-height: 600px) {
    .container {
        height: 600px;
    }
}*/

.top_nav {
    display: inline-block;
    padding: 3px 15px;
    width: 100%;
    height: auto;
    background: white;
    color: black;
    margin-bottom: 5px;
    /*border-radius: 5px;*/
    box-shadow: 0px 1px 3px 1px rgb(104, 104, 104);
    /*border: 1px solid rgb(140, 140, 140);*/
    /*background: linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -moz-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -webkit-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);
    background: -o-linear-gradient(270deg, rgba(0, 227, 255, 1)0%, rgba(47, 149, 255, 1)65%);*/
}

.tool-bar {
    margin: 8px 0px;
    float: right;
}

.select-lang {
    background: white;
    color: black;
}

img.logo {
    max-height: 38px;
    max-width: 38px;
    margin: 3px 0px;
    background: transparent;
}

/* Login User */
#login_user a,
#login_user a:hover,
#login_user a:active,
#login_user a:focus {
    text-decoration: none !important;
}

#login_user {
    margin-right: 10px;
}

#login_user .dropdown {
    display: inline-block;
    font-size: 14px;
    text-align: left;
}

#login_user .dropdown ul {
    z-index: 2;
}

#login_user .dropdown button {
    color: black;
    font-size: 14px;
    padding: 2px 8px !important;
    margin-left: 3px !important;
}

#login_user .dropdown-content {
    left: -50px;
    z-index: 3;
}

.btn-user {
    cursor: pointer;
    background: transparent;
    color: rgb(0, 119, 255) !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    padding: 0px !important;
}

.btn-user:hover {
    background: transparent !important;
    color: rgb(90, 158, 236) !important;
}

.cvsBlock {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(185, 185, 185);
    overflow: hidden;
    position: relative;
    border: none;
    width: 100%;
}

canvas {
    position: relative;
}

/*DropDownList*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nav-tabs {
    border-color: rgb(0, 0, 0);
    margin: 0px 3px;
}

.nav-tabs li a {
    padding: 6px 10px;
    background-color: transparent;
    color: black;
}

.nav-tabs li:hover a {
    border-color: rgb(54, 54, 54);
    background-color: transparent;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a {
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-tabs a,
.tab-pane th,
.tab-pane td {
    font-family: 'Microsoft JhengHei', 'sans-serif';
}


.alert_block {
    top: 10px;
    left: 40%;
    position: absolute;
    display: none;
    margin: auto;
    width: auto;
    height: auto;
    padding: 10px 14px;
    -moz-box-shadow: 4px 4px 12px -2px rgb(97, 96, 96);
    -webkit-box-shadow: 4px 4px 12px -2px rgb(97, 96, 96);
    box-shadow: 4px 4px 12px -2px rgb(97, 96, 96);
    border-radius: 5px;
    background: rgb(94, 191, 255);
    color: rgb(0, 0, 0);
    opacity: 100;
    filter: alpha(opacity=100);
}

.alert_block.fadeOut {
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
    opacity: 0;
}

.title-shadow {
    margin-left: 10px;
    color: white;
    text-shadow: 1px 1px 9px #000000;
}