.container {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
}

.row {
    margin-left: 30px;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: #dddddd;
}

th,
td {
    padding: 2px;
    text-align: left;
    border: 1px solid #808080;
}

input[type="checkbox"] {
    margin-left: 5px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.custom-file-selected {
    display: inline-block;
    cursor: pointer;
    color: #dddddd;
    text-decoration: none;
    font-family: Sans-serif;
    padding: 10px 15px 10px 50px;
}

canvas:hover {
    cursor: pointer;
}

canvas:active {
    cursor: move;
}

#cvsBlock {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgb(207, 207, 207);
    height: 690px;
    width: 77%;
    overflow: hidden;
    position: relative;
    border: 1px rgb(207, 207, 207) solid;
}

hr {
    border-color: rgb(207, 207, 207);
}

.sidebar_right {
    width: 23%;
    padding: 10px;
    border: 1px rgb(207, 207, 207) solid;
}

.sidebar_title {
    background: #929292;
    /*#ffa742*/
    color: #ffffff;
    padding: 4px 6px;
    border: 0;
    border-radius: 5px;
}

.control_btn {
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: normal;
    font-size: 12px;
    background: #949494;
    color: #f5f5f5;
}

.border-block th {
    text-align: center;
}

.noborder-block {
    font-weight: bold;
    font-family: 'Microsoft JhengHei', 'sans-serif';
    border: none;
    padding: 0px;
}

.noborder-block th,
.noborder-block td {
    border: none;
}

.btn-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-search {
    float: right;
    cursor: pointer;
    background: #ffffff !important;
    color: #fc8e10;
    font-size: 20px;
}

.btn-search:hover {
    color: #ffdaaf;
}

.btn-delete {
    cursor: pointer;
    color: rgb(252, 55, 55);
    font-size: 18px;
    margin: 0px 5px 0px 0px;
}

.btn-delete:hover {
    color: rgb(255, 152, 152)
}

.btn-add {
    cursor: pointer;
    color: rgb(105, 196, 0);
    font-size: 18px;
}

.btn-add:hover {
    color: rgb(179, 226, 126);
}

.icon-image {
    max-height: 18px;
    max-width: 18px;
    margin: auto;
    background: transparent !important;
}

.btn-focus {
    height: 26px;
    width: 40px;
    padding: 0px;
}

.colorful_dot {
    width: 20px;
    height: 20px;
    margin: auto;
    border: 1px solid black;
    border-radius: 50px;
}


/* Model */
.modal-content {
    margin: auto;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    max-width: 200px;
}